html body{
  padding: 0;
  margin:0;
  overflow:hidden;
}

div.mdl-layout__header-row.index-page,
div.mdl-layout__header-row.search-page{
  padding-left: 20px;
}

// main.mdl-layout__content.index-layout-content,
// main.mdl-layout__content.search-layout-content,
// div.page-content.index-page-content,
// div.page-content.search-page-content
// div.mdl-grid.index-map-grid,
// div.mdl-grid.index-play-grid,
// div.mdl-grid.search-content-grid,
// #index-map,
// #index-play,
// #sidebar,
// #search-map{
//   padding: 0;
//   margin: 0;
// }

#sidebar,
#search-map{
  height: 100vh;
}

#index-map{
  height: 700px;
  background-color: white;
  // border: 1px solid red;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

p#slider-selected-year{
  font-size: 18px;
}

.mdl-cell{
  // border: 1px solid red;
}

#filter-month-radio,
#filter-day-radio,
#filter-hour-radio,
#filter-fatals-radio,
#filter-drunk-radio,
#filter-weather-radio{
  padding: 20px 0 20px 0;
}

#btn-search-back{
  width: 100%;
  text-align: left;
}

#div-subcat-ckbox{
  width: 40px;
	height: 10px;
	background: #b0b0b0;
	margin: 10px 0px 10px 10px;
	position: relative;
	border-radius: 3px;
  display: inline-block;
}

#div-subcat-ckbox label{
  display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: -3px;
	left: -3px;
	background: #f9f9f9;
  border: 1px solid #d3d3d3;
}

#div-subcat-ckbox input[type=checkbox]:checked + label {
	left: 27px;
  background: #3844b3;
}
